/* Container styling */
.container {
  margin-top: 20px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Header styling */
.header {
  color: #007bff;
  text-align: center;
  margin-bottom: 20px;
}

/* Form styling */
.form {
  margin-bottom: 30px;
}

.form-field {
  width: 50%;
}

.form .MuiFormControl-root {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 1px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  width: 50%;
}

.button-container .button {
  flex: 1;
}

.button-container .button + .button {
  margin-left: 10px;
}

/* Price breakdown */
.price-breakdown {
  padding-left: 15px;
}

.price-breakdown h5 {
  color: #007bff;
  margin-bottom: 15px;
  margin-top: 15px;
}

.price-breakdown p {
  margin: 5px 0;
}

.price-breakdown .total {
  margin-top: 16px;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Details */
.details {
  padding-left: 15px;
  color: #007bff;
}
